doc/manual.pdf
doc/manual.ps
doc/pages.pdf
doc/pages.ps
src/copybits.o
src/cvpath.o
src/getopt.o
src/gettype.o
src/mapprint.o
src/multtape.o
src/mxarc
src/mxarc.o
src/mxascii
src/mxascii.o
src/mxbitio.o
src/mxdearc.o
src/mxforum
src/mxforum.o
src/mxload
src/mxload.o
src/mxmap
src/mxmap.o
src/mxmbx
src/mxmbx.o
src/mxmseg.o
src/optptr.o
src/parsctl.o
src/pr8bit
src/pr8bit.o
src/preamble.o
src/rdbkrcd.o
src/tempfile.o
src/timestr.o
core
src/core
src/*.core
*.core
src/*.o
*.o
